/* in style.css, .tooltip is defined as follows
.tooltip {
    display:inline;
    position:relative;
    text-align:left;
}
  as tooltip.css is ncluded in style.css, all css below is an extension
*/

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}

a.tooltip span {
    z-index:10;display:none;
    margin-top:20px;
    width:200px;
}

a.tooltip:hover span {
    display:inline;
    position:absolute;
}

.callout {
  z-index:20;
  position:absolute;
  border:1px solid #f7f7f7;
  box-shadow: rgba(0,0,0,0.15) 2.4px 2.4px 3.2px;
  width:200px;
}

/*CSS3 extras*/
a.tooltip span {
}
